<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h3>Index:Register Page</h3>
    <form action="/valid" method="post">
        1.请输入您的账号，长度在8位以下<br><br>
        账号:<input type="text" name="userAccount" value=""><br><br>

        2.请输入您的密码(要记住它哦~)<br><br>
        密码:<input type="password" name="password"><br><br>

        3.请输入您的昵称<br><br>
        昵称:<input type="text" name="nickName"><br><br>

        4.选取您的性别<br><br>
        性别:<input type="radio" name="sex" value="Male">男性<input type="radio" name="sex" value="Female">女性<br><br>

        5.输入您的地址<br><br>
        地址:<input type="text" name="addr"><br><br>

        6.输入您的联系号码<br><br>
        号码:<input type="text" name="phoneNumber"><br><br>

        7.输入您的真实姓名<br><br>
        姓名:<input type="text" name="trueName"><br><br>

        8.输入您的邮箱<br><br>
        邮箱:<input type="text" name="email"><br><br>

        9.输入您的商店编号<br><br>
        商店编号:<input type="text" name="shopId"><br>
        <input type="submit"value="valid data" name="register">
    </form>
</body>
</html>