<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Page</title>
</head>
<body>
    <form method="post" action="/filter/shop/createGoods">
        商品名称：<input type="text" name="GoodsName" ><br>
        上架数量：<input type="text" name="Amount"><br>
        价格：<input type="text" name="Price" ><br>
        商品状态：<input type="radio" value="OnSale" name="state">上架<input type="radio" value="OffSale" name="state">下架<br>
        <input type="submit">
    </form>
</body>
</html>